@font-face {
  font-family: 'TT Severs Regular';
  src: url('../fonts/TTSevers-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'TT Severs DemiBold';
  src: url('../fonts/TTSevers-DemiBold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'TT Severs Medium';
  src: url('../fonts/TTSevers-Medium.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'TT Severs Bold';
  src: url('../fonts/TTSevers-Bold.ttf');
  font-style: normal;
}
