@font-face {
  font-family: 'TT Severs Regular'; //400
  src: url('../fonts/TTSevers-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'TT Severs Medium'; //500
  src: url('../fonts/TTSevers-Medium.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'TT Severs DemiBold'; //600
  src: url('../fonts/TTSevers-DemiBold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'TT Severs Bold'; //700
  src: url('../fonts/TTSevers-Bold.ttf');
  font-style: normal;
}
