@import '../../sass/mixin';

.section {
  padding: 56px 0;

  color: var(--white);
  background-color: var(--primary-blue);
  @include mq(desk) {
    padding-bottom: 112px;
  }
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 25px;
}
.title {
  font-family: 'TT Severs Bold';
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;

  @include mq(desk) {
    font-size: 32px;
  }
}
.link {
  font-family: 'TT Severs DemiBold';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;

  color: var(--primary-orange);
}
.list {
  margin-bottom: 25px;
}
.item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  &__top {
    position: relative;

    margin-bottom: 16px;
  }
}
.img {
  height: 171px;

  object-fit: cover;
}
.svg {
  position: absolute;
  left: 8px;
  bottom: 8px;

  fill: white;
  opacity: 0.6;
}
.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;

  margin-bottom: 8px;
}
.news {
  font-family: 'TT Severs DemiBold';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 38px 6px 32px;
  gap: 8px;

  width: 100%;

  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  border-radius: 4px;

  transition: all var(--transition);

  &:hover,
  &:focus {
    background-color: var(--white);
    color: var(--primary-blue);
  }
}

@include mq(desk) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px 32px;
    grid-template-areas:
      'a a aa bb'
      'a a cc dd';
  }
  .item {
    margin-bottom: 0 !important;
    & a {
      font-size: 16px;
    }
  }
  .item:nth-child(1) {
    grid-area: a;
    & img {
      height: 360px;
      width: 100%;
    }
    & div {
      margin-bottom: 32px;
    }
    & p {
      line-height: 1.4;
      margin-bottom: 24px;
    }
    & a {
      font-size: 32px;
    }
    & svg {
      opacity: 1;
      width: 40px;
      height: 40px;

      left: 16px;
      bottom: 22px;
    }
  }

  .item:nth-child(2) {
    grid-area: aa;
  }

  .item:nth-child(3) {
    grid-area: bb;
  }

  .item:nth-child(4) {
    grid-area: cc;
  }

  .item:nth-child(5) {
    grid-area: dd;
  }
}
