@import '../../sass/mixin';
.header {
  position: relative;
}
.top {
  padding: 16px 0;
  border-bottom: 1px solid #ebebeb;
}
.top__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__left {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  margin-right: 16px;
}
.top__right {
  display: flex;
  align-items: center;
}
.menuBtn {
  padding: 9px 12px;
  border-radius: 4px;
  border: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  transition: all var(--transition);

  background: #f7f7f7;
  color: #2d2d2d;
  &:hover,
  &:focus {
    background: rgb(200 199 204 / 50%);
  }
}
.svgBtnMenu {
  position: relative;
  top: -1px;

  margin-right: 12px;
}

/* Блок выбора языка */
.langBlock {
  position: relative;

  @include mq(desk) {
    display: flex;

    margin-left: 33px;
  }

  &__selectA {
    outline: none;
    border: none;
    background: none;

    font-family: 'TT Severs Medium';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: var(--text-color);

    padding: 5px;

    display: flex;
    align-items: center;
  }
  &__svg {
    margin-left: 5px;
  }
  &__selectB {
    position: absolute;
    bottom: -80%;
    left: 0;
    z-index: 10;

    font-family: 'TT Severs Medium';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: var(--text-color);

    padding: 5px;

    outline: none;
    border: none;
    background: none;
    @include mq(desk) {
      position: relative;

      margin-left: 15px;
      color: #b0b0b0;
    }
  }
}

.svgBtnSelect {
  position: absolute;
  top: 6px;
  left: 31px;
}
.formSelect {
  position: relative;
}
.search {
  margin-right: 16px;
  display: flex;

  border: none;
  background-color: transparent;
  @include mq(desk) {
    position: absolute;
    left: 16px;
    top: 50%;

    transform: translateY(-50%);

    fill: #919191;
  }
  &__block {
    position: relative;
    display: flex;
    align-items: center;
    @include mq(desk) {
      margin-right: 38px;
    }
  }
  &__input {
    border: none;
    outline: none;
    background: #f7f7f7;
    border-radius: 68px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;

    width: 120px;
    padding: 8px 16px;
    margin-right: 16px;
    @include mq(desk) {
      width: 272px;
    }
    &::placeholder {
      @include mq(desk) {
        color: #b0b0b0;
        padding-left: 30px;
      }
    }
  }
}

/* HEADER BOTTOM */
.nav {
  width: 375px;
  padding: 12px 0 12px 24px;
  margin: 0 auto;
  @include mq(desk) {
    display: flex;
    align-items: center;

    width: 1440px;
    padding: 12px 64px;
  }
}
.accentSvg {
  margin-right: 8px;
}
.nav__linkAccent,
.nav__link {
  display: flex;
  align-items: flex-end;

  font-family: 'TT Severs DemiBold';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.15;

  letter-spacing: 0.015em;
  text-transform: uppercase;

  color: #2d2d2d;

  cursor: pointer;
}
.nav__linkAccent {
  color: #ff7534;
}
.swiper {
  padding-right: 10px;
  @include mq(desk) {
    margin-left: 0 !important;
  }
}
.swiperSlide {
  width: auto;
  text-align: center;
}

/* Меню с городами */
.region {
  display: flex;

  margin-left: 40px;
  &__item:not(:last-child) {
    margin-right: 32px;
  }
  &__link {
    font-family: 'TT Severs DemiBold';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: var(--text-color);
  }
}

/* Соцсети только на десктопе */
.soc {
  position: relative;

  display: flex;
  align-items: center;

  padding-right: 38px;
  &::after {
    content: '';
    position: absolute;
    right: 0;

    display: block;
    width: 1px;
    height: 16px;

    background-color: #8a8a8a;
  }
  &__item:not(:last-child) {
    margin-right: 32px;
  }
}
/* LIVE кнопка */
.live {
  display: flex;

  font-family: 'TT Severs DemiBold';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: var(--primary-blue);
  &__spanA {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 12px;
    height: 12px;

    border-radius: 50%;
    margin-right: 12px;

    background: rgba(224, 70, 70, 0.6);
  }
  &__spanB {
    display: block;
    width: 6px;
    height: 6px;

    border-radius: 50%;

    background: #e04646;
  }
}
