@import '../../sass/mixin';

.section {
  max-width: 100%;
  overflow: hidden;

  padding: 40px 24px;
  margin: 0 auto;

  @include mq(mob) {
    width: 375px;
  }
  @include mq(desk) {
    width: auto;
    padding: 0;
  }
  background-color: var(--grey-bg);
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;
  @include mq(desk) {
    margin-bottom: 32px;
  }

  &__title {
    font-family: 'TT Severs Bold';
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;

    color: var(--text-color);
    @include mq(desk) {
      font-size: 32px;
    }
  }
  &__link {
    font-family: 'TT Severs DemiBold';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;

    color: var(--primary-orange);
  }
}

.list {
  display: flex;

  margin-bottom: 24px;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
  &__btn {
    padding: 4px 8px 2px 8px;
    border-radius: 4px;

    background-color: transparent;
    color: #919191;
    border: none;

    transition: all var(--transition);
    cursor: pointer;
    &Active,
    &:hover,
    &:focus {
      padding: 4px 8px 2px 8px;
      border-radius: 4px;

      border: none;
      cursor: pointer;

      color: var(--primary-orange);
      background-color: #ffeae0;
    }
  }
}
.region {
  &__list {
    display: flex;
    // width: 970px;
    padding-right: 40px;

    overflow: scroll hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 0px 1.25rem;

    margin: 0 auto;
    &::-webkit-scrollbar {
      width: 0;
    }
    @include mq(desk) {
      padding: 0;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 16px 16px 24px 16px;
    min-width: 312px;

    transition: all var(--transition);

    border-radius: 12px;
    background-color: var(--white);
    @include mq(desk) {
      padding-bottom: 32px;
    }
  }
  &__item:not(:last-child) {
    margin-right: 16px;
  }
  &__title {
    font-family: 'TT Severs DemiBold';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: var(--text-color);
    @include mq(desk) {
      font-size: 24px;
      line-height: 1.4;
    }
  }
}

.card {
  &__date {
    font-family: 'TT Severs Medium';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    text-transform: uppercase;
    color: #f3560c;

    margin-top: 20px;
    margin-bottom: 12px;
    @include mq(desk) {
      margin: 24px 0 12px 0;
    }
  }
  &__item:not(:last-child) {
    padding-bottom: 14px;
    border-bottom: 1px solid #dbdbdb;
    @include mq(desk) {
      padding-bottom: 16px;
    }
  }
  &__item:not(:first-child) {
    padding-top: 14px;
    @include mq(desk) {
      padding-top: 16px;
    }
  }
  &__link {
    font-family: 'TT Severs Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.38;
    color: #182840;
  }
  &__time {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #707070;
    margin-right: 13px;
    @include mq(desk) {
      font-family: 'TT Severs Medium';
      font-size: 16px;
      font-weight: 500;
      line-height: 1.4;
    }
  }
}
