.header {
  position: relative;
}
.top {
  padding: 16px 0;
  border-bottom: 1px solid #ebebeb;
}
.top__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__right {
  display: flex;
  align-items: center;
}
.menuBtn {
  padding: 9px 12px;
  border-radius: 4px;
  border: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  transition: all var(--transition);

  background: #f7f7f7;
  color: #2d2d2d;
  &:hover,
  &:focus {
    background: rgb(200 199 204 / 50%);
  }
}
.svgBtnMenu {
  position: relative;
  top: -1px;

  margin-right: 12px;
}
.nav {
  width: 375px;
  margin: 0 auto;
}
.select {
  position: relative;

  outline: none;
  border: none;
  background: none;

  padding: 5px;

  display: flex;
  align-items: center;
  &__svg {
    margin-left: 5px;
  }
}
.search {
  margin-right: 16px;

  border: none;
  background-color: transparent;
  &__input {
    border: none;
    outline: none;

    border-bottom: 1px solid grey;

    width: 140px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.svgBtnSelect {
  position: absolute;
  top: 6px;
  left: 31px;
}
.formSelect {
  position: relative;
}

/* HEADER BOTTOM */
.nav {
  padding: 12px 0 12px 24px;
}
.accentSvg {
  margin-right: 8px;
}
.nav__linkAccent,
.nav__link {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.15;

  letter-spacing: 0.015em;
  text-transform: uppercase;

  color: #2d2d2d;

  cursor: pointer;
}
.nav__linkAccent {
  color: #ff7534;
}
.swiper {
  padding-right: 10px;
}
.swiperSlide {
  width: auto;
  text-align: center;
}
.selector {
  &__list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  &__item {
    padding: 5px;
    &:last-child {
      padding-top: 0;
    }
  }
  &__btn {
    outline: none;
    border: none;
    background: none;
  }
}
