@import '../../sass/mixin';
.section {
  background-color: var(--grey-bg);
}
.container {
  @include mq(desk) {
    display: flex;
    align-items: flex-start;

    // width: 1440px;
    width: 1297px;
    margin: 0 auto;
    padding: 64px 0px 32px 0px;
  }
}
.right {
  @include mq(desk) {
    flex-grow: 2;

    // margin-left: 32px;
    margin-left: 25px;
  }
}
