@import '../../sass/mixin';

.section {
  max-width: 100%;

  padding: 0 24px;
  margin: 0 auto;

  @include mq(mob) {
    width: 375px;
  }
  @include mq(desk) {
    position: relative;

    flex-shrink: 0;

    width: 304px;
    padding: 16px 16px 24px 16px;

    border-radius: 12px;
  }
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: var(--white);
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 32px;

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: var(--text-color);
    @include mq(desk) {
      font-size: 24px;
      line-height: 1.4;
    }
  }
  &__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: var(--primary-blue);

    border-bottom: 1px solid var(--primary-blue);
    @include mq(desk) {
      line-height: 1.4;
    }
  }
}

.nav {
  display: flex;

  margin-bottom: 32px;
  @include mq(desk) {
    font-size: 16px;
    line-height: 1.4;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }
  &__btn {
    padding: 4px 8px 2px 8px;
    border-radius: 4px;

    background-color: transparent;
    color: #919191;
    border: none;

    transition: all var(--transition);
    cursor: pointer;
    &Active,
    &:hover,
    &:focus {
      padding: 4px 8px 2px 8px;
      border-radius: 4px;

      border: none;
      cursor: pointer;

      color: var(--primary-orange);
      background-color: #ffeae0;
    }
  }
}
.wrapListNews {
  position: relative;
  @include mq(desk) {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;

      width: 100%;
      height: 75px;

      background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 105.15%);
    }
  }
}
