.section {
  padding: 40px 0 48px;

  background-color: var(--grey-bg);
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 328px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  color: #2d2d2d;
}
.link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: var(--primary-orange);
}
.list {
  display: flex;

  width: 375px;
  overflow: scroll hidden;
  scroll-snap-type: x mandatory;
  scroll-padding: 0px 1.25rem;

  margin: 0 auto;
  padding: 0 24px;
  &::-webkit-scrollbar {
    width: 0;
  }
}
.item {
  flex-shrink: 0;

  padding: 16px;
  width: 304px;

  border-radius: 8px;
  background-color: var(--white);
  &:not(:last-child) {
    margin-right: 24px;
  }
}
.block {
  display: flex;
  align-items: center;

  margin-bottom: 16px;
}
.img {
  margin-right: 16px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #2d2d2d;

  margin-bottom: 4px;
}
.position {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #707070;
}
.text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #2d2d2d;

  margin-bottom: 12px;
}
.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #707070;
}
.slider {
  margin: 0 auto;
  padding-left: 24px;

  visibility: visible;
}
