@import '../../sass/mixin';

.section {
  background-color: var(--grey-bg);
}
.container {
  @include mq(desk) {
    display: flex;
    align-items: flex-start;

    width: 1440px;
    margin: 0 auto;
    padding: 32px 64px 64px 64px;
  }
}
