@import '../../sass/mixin';

.section {
  padding-top: 242px;
  padding-bottom: 24px;
  min-height: 520px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  @include mq(desk) {
    height: 660px;
    padding-top: 238px;
    padding-bottom: 56px;
  }
}
.title {
  font-family: 'TT Severs Bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;

  color: var(--white);

  margin-bottom: 24px;
  @include mq(desk) {
    font-size: 40px;

    width: 752px;
  }
}

.slide {
  color: var(--white);
  background: rgba(255, 255, 255, 0.32);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.16);
  border-radius: 12px;

  width: 304px;
  padding: 8px;

  font-family: 'TT Severs DemiBold';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;

  &__wrap {
    display: flex;
  }
  &__img {
    object-fit: cover;

    width: 64px;
    height: 64px;

    margin-right: 16px;
  }
}
/* Контроллер слайдов */
.control {
  display: flex;
  align-items: center;

  margin-bottom: 24px;

  &__left,
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    outline: none;

    width: 40px;
    height: 40px;

    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
  }
  &__left:disabled,
  &__right:disabled {
    opacity: 0.5;
  }
  &__leftSvg {
    transform: rotate(180deg);
  }
  &__title {
    font-family: 'TT Severs Medium';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: var(--white);

    width: 32px;

    margin: 0 24px;
  }
  &__span {
    opacity: 0.5;
  }
}
.wrapSlider {
  width: 375px;
  margin: 0 auto;

  padding-left: 24px;
  @include mq(desk) {
    width: 1440px;
    padding: 0 64px;
  }
}
